<div>
    <form action="/threads/create" method="POST">
        <h1>スレッド作成</h1>
        <label for="inuputTitle">タイトル</label>
        <input  type="text" name="title" id="inuputTitle" placeholder="Title" autofocus required>
        <br>
        <button type="submit">決定</button>
    </form>
</div>